.testimonials {
  padding: 69px 0 160px;

  @include mobile {
    padding: 39px 0 70px;
  }

  &_head {
    @include flex-all-between;
    margin-bottom: 48px;

    @include tablet {
      gap: 24px;
      flex-direction: column;
      text-align: center;
    }

    @include mobile {
      gap: 12px;
      margin-bottom: 40px;
    }
  }

  &_title {
    max-width: 530px;
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -2px;
    color: var(--netural-color-100);

    @include tablet {
      max-width: 650px;
    }
  }

  &_descr {
    max-width: 376px;
    font-weight: 500;
    line-height: 32px;
    color: var(--netural-color-150);

    @include tablet {
      max-width: 450px;
    }
  }

  &_rating {
    @include flex-align-center;
    gap: 8px;
    margin-bottom: 19px;
    max-width: 164px;

    &-num {
      font-weight: 500;
      line-height: 26px;
      color: var(--netural-color-100);
    }
  }

  &_slider-wrapper {
    &::before {
      content: '';
      display: inline-block;
      width: 115px;
      height: 77px;
      background: url('../assets/icons/quotes.svg');
      transform: translateY(15px);

      @include mini-desktop {
        transform: translateY(-5px);
      }

      @include mobile {
        width: 65px;
        height: 40px;
        background-size: cover;
      }
    }
  }

  &_slider {
    max-width: 898px;
  }

  &_comment {
    &-text {
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -1px;
      color: var(--netural-color-100);
    }

    &-author {
      @include flex-align-center;
      gap: 24px;
      font-style: normal;

      &-avatar {
        overflow: hidden;
        border-radius: 50%;
      }

      &-name {
        font-weight: 600;
        line-height: 26px;
        color: var(--netural-color-100);
      }

      &_professions {
        font-weight: 500;
        line-height: 26px;
        color: var(--netural-color-150);
      }
    }
  }

  &_btns {
    @include flex-align-center;
    gap: 16px;
    justify-content: flex-end;
    transform: translateY(-40px);

    @include mini-desktop {
      transform: translateY(5px);
    }
  }

  &_btn {
    @include flex-all-center;
    border: 1px solid var(--netural-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    &:hover {
      border-color: var(--netural-color-100);
      background-color: var(--netural-color-100);

      & svg path {
        fill: var(--netural-color-10);
      }
    }

    & svg path {
      transition: fill var(--transition);
    }

    &--next {
      transform: rotate(-180deg);
    }
  }
}
