<section id="get-started" class="get-started">
  <div class="container get-started_container">
    <div class="get-started_form-wrapper">
      <h3 class="get-started_form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started_form-text text-p-medium">
        You can reach us anytime
        <a
          href="mailto:hellosansbrothers@gmail.com"
          class="get-started_form-link"
          >hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="get-started_form">
        <div class="get-started_form-top">
          <label class="get-started_form-label">
            <span class="get-started_form-label-text text-p-small">
              First name
            </span>
            <input
              type="text"
              class="get-started_form-input text-p-small get-started_form-input--small"
              name="First-name"
              required
              placeholder="First name"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              oninput="this.value = this.value.replace(/[^a-zA-Z0-9._%+-@]/g, '');"
              title="Please enter a valid first with only letters, numbers, and allowed characters."
            />
          </label>
          <label class="get-started_form-label">
            <span class="get-started_form-label-text text-p-small">
              Last name
            </span>
            <input
              type="text"
              class="get-started_form-input text-p-small get-started_form-input--small"
              name="Last-name"
              required
              placeholder="Last name"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              oninput="this.value = this.value.replace(/[^a-zA-Z0-9._%+-@]/g, '');"
            />
          </label>
        </div>
        <label class="get-started_form-label">
          <span class="get-started_form-label-text text-p-small"> Email </span>
          <input
            type="email"
            class="get-started_form-input text-p-small"
            name="email"
            required
            placeholder="you@company.com"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            oninput="this.value = this.value.replace(/[^a-zA-Z0-9._%+-@]/g, '');"
          />
        </label>
        <label class="get-started_form-label">
          <span class="get-started_form-label-text text-p-small">
            Phone number
          </span>
          <input
            id="phone"
            type="tel"
            class="get-started_form-input"
            name="Phone-number"
            required
            placeholder=""
          />
        </label>
        <label class="get-started_form-label">
          <span class="get-started_form-label-text text-p-small">
            Message
          </span>
          <textarea
            type="text"
            class="get-started_form-input get-started_form-input--textarea text-p-small"
            name="message"
            required
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="get-started_form-btn button-form">Get Started</button>
      </form>
    </div>
    <img
      loading="lazy"
      src="./assets/images/contact-getStarted.jpeg"
      class="get-started_img"
      width="987"
      height="885"
      alt="A women and a man high-five each other"
    />
  </div>
</section>
