<section class="hero">
  <div class="container">
    <h2 class="hero_title heading-h1">
      Everything you need to get the attention of your <br />
      audience
    </h2>
    <div class="hero_info">
      <p class="hero_info-descr text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
      <a class="hero_info-link" href="#">
        <img
          class="hero_info-link-arrow"
          loading="lazy"
          src="./assets/icons/about-hero-arrow.svg"
          width="59"
          height="59"
          alt="arrow in the ring"
        />
        <img
          class="hero_info-link-text"
          loading="lazy"
          src="./assets/icons/about-hero-ring.svg"
          width="127"
          height="126"
          alt="get in touch"
        />
      </a>
    </div>
    <div class="hero_slider swiper">
      <ul class="hero_list swiper-wrapper">
        <li class="hero_item swiper-slide">
          <img
            loading="lazy"
            src="./assets/images/about-hero-img1.jpeg"
            alt="man typing laptop"
          />
        </li>
        <li class="hero_item swiper-slide">
          <img src="./assets/images/about-hero-img2.jpeg" alt="" />
          <h3 class="hero_item-title heading-h5">What we believe in</h3>
          <p class="hero_item-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a href="#" class="hero_item-btn button-form text-p-default">
            See Details ➜
          </a>
        </li>
        <li class="hero_item swiper-slide">
          <img src="./assets/images/about-hero-img3.jpeg" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
