.hero {
  padding: 90px 0 78px;

  @include mobile {
    padding: 40px 0 68px;
  }

  &_top {
    padding-bottom: 186px;
    text-align: center;

    @include tablet {
      padding-bottom: 86px;
    }

    @include mobile {
      padding-bottom: 56px;
    }

    &::before {
      top: -20px;
    }

    &::after {
      bottom: -320px;
    }
  }

  &_title {
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 16px;
    padding: 4px 12px;
    font-weight: 600;
    line-height: 24px;
    color: var(--primary-color-30);
    background: #1463ff1a;

    @include small-mobile {
      margin-bottom: 17px;
    }
  }

  &_descr {
    margin: 0 auto 56px;
    max-width: 903px;
    font-weight: 700;
    line-height: 120%;
    color: var(--netural-color-100);

    @include mobile {
      margin-bottom: 36px;
    }
  }

  &_switcher {
    position: relative;
    border-radius: 12px;
    width: 44px;
    height: 24px;
    background-color: var(--netural-color-30);
    transition: background-color var(--transition);

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: var(--primary-color-30);
      opacity: 0.6;
      transition:
        left var(--transition),
        opacity var(--transition);
    }

    &-checkbox {
      appearance: none;
    }

    &:has(&-checkbox:checked) {
      &::before {
        left: 22px;
        opacity: 1;
      }
    }

    &-wrapper {
      display: inline-flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-weight: 500;
      line-height: 26px;
      color: var(--netural-color-150);
    }
  }

  &_item {
    border: 1px solid var(--netural-color-30);
    border-radius: 16px;
    padding: 40px 24px;
    max-width: 378px;

    @include mini-desktop {
      max-width: 320px;
    }

    @include tablet {
      max-width: 450px;
    }

    &:first-child {
      @include tablet {
        order: 2;
      }
    }

    &:last-child {
      @include tablet {
        order: 3;
      }
    }

    &--popular {
      border: 1px solid var(--primary-color-60);
      background-color: var(--netural-color-90);
      transform: translateY(-76px);

      @include tablet {
        order: 1;
        transform: inherit;
      }
    }
  }

  &_plans {
    @include flex-all-between;

    @include tablet {
      flex-direction: column;
    }

    &-icon {
      @include flex-all-center;
      margin-bottom: 16px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: var(--netural-color-20);

      &--popular {
        background-color: var(--primary-color-30);
      }
    }

    &-title {
      margin-bottom: 8px;
      font-weight: 600;
      line-height: 34px;
      color: var(--netural-color-100);

      &--popular {
        color: #fff;
      }
    }

    &-descr {
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 26px;
      color: var(--netural-color-150);
    }

    &-price {
      margin-bottom: 24px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--netural-color-100);

      &--popular {
        color: #fff;
      }

      &-text {
        font-weight: 500;
        line-height: 26px;
        color: var(--netural-color-150);
      }
    }

    &-list {
      margin-bottom: 40px;

      &-title {
        margin-bottom: 16px;
        font-weight: 700;
        line-height: 24px;
        color: var(--netural-color-100);

        &--popular {
          color: #fff;
        }
      }
    }

    &-item {
      font-weight: 500;
      line-height: 26px;
      color: var(--netural-color-100);

      &::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 19.2px;
        height: 19.2px;
        background: url('../icons/pricing-list-icon.svg');
        transform: translateY(2px);
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &--popular {
        color: #fff;
      }

      &--inaccess {
        text-decoration-line: line-through;
        color: var(--netural-color-150);

        &::before {
          background: url('../icons/pricing-list-inaccess-icon.svg');
        }
      }
    }

    &-btn {
      border: 1px solid var(--netural-color-40);
      border-radius: 100px;
      padding: 16px 35px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;
      color: var(--netural-color-100);
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }

      &--popular {
        color: #1d1e25;
        background-color: #fff;
      }

      &-wrapper {
        text-align: center;
      }
    }
  }
}
