.articles {
  padding: 160px 0;

  @include mobile {
    padding: 60px 0;
  }

  &_head {
    @include flex-all-between;
    margin-bottom: 80px;

    @include mobile {
      flex-direction: column;
    }
  }

  &_text {
    @include mobile {
      text-align: center;
    }
    &-title {
      margin-bottom: 24px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -2px;
      color: var(--netural-color-100);
    }

    &-descr {
      max-width: 435px;
      font-weight: 500;
      line-height: 32px;
      color: var(--netural-color-150);
    }
  }

  &_btns {
    @include flex-align-center;
    gap: 16px;
    justify-content: flex-end;
    transform: translateY(-40px);

    @include mini-desktop {
      transform: translateY(5px);
    }
  }

  &_btn {
    @include flex-all-center;
    border: 1px solid var(--netural-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    &:hover {
      border-color: var(--netural-color-100);
      background-color: var(--netural-color-100);

      & svg path {
        fill: var(--netural-color-10);
      }
    }

    & svg path {
      transition: fill var(--transition);
    }

    &--next {
      transform: rotate(-180deg);
    }
  }

  &_item {
    max-width: 407px;

    @include mobile {
      text-align: center;
    }

    &-img {
      margin-bottom: 24px;
      height: revert-layer;
      object-fit: cover;
      object-position: 50% 60%;

      @include mobile {
        height: 400px;
      }
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: -1%;
      color: var(--netural-color-100);
    }

    &-descr {
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 32px;
      color: var(--netural-color-150);
    }

    &-btn {
      display: inline-block;
      border: 1px solid var(--netural-color-40);
      padding: 16px 32px;
      font-weight: 700;
      line-height: 24px;
      color: var(--netural-color-100);
      background-color: transparent;
    }
  }
}
