.footer {
  padding: 112px 0 58px;
  color: #fff;
  background-color: var(--black-bg-color);

  @include mobile {
    padding: 62px 0 58px;
  }

  &_head {
    @include flex-all-between;
    margin-bottom: 134px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 84px;
    }

    @include mobile {
      align-items: center;
      margin-bottom: 64px;
      text-align: center;
    }

    @include small-mobile {
      margin-bottom: 44px;
    }
  }

  &_title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    @include tablet {
      font-size: 54px;
    }

    @include mobile {
      font-size: 42px;
    }
  }

  &_descr {
    max-width: 543px;
    font-weight: 500;
    line-height: 32px;
    color: var(--netural-color-50);
  }

  &_link {
    padding: 16px 32px;
    color: #1d1e25;
    background-color: #fff;
  }

  &_body {
    @include flex-all-between;
    margin-bottom: 56px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column-reverse;
    }

    &-info {
      @include tablet {
        @include flex-align-center;
        gap: 30px;
      }

      @include small-tablet {
        gap: 10px;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }

    &-descr {
      max-width: 292px;
      font-weight: 500;
      line-height: 26px;
      color: var(--netural-color-150);

      @include tablet {
        max-width: 500px;
      }
    }
  }

  &_logo {
    display: inline-block;
    margin-bottom: 19px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &_nav {
    @include tablet {
      width: 100%;
    }
  }

  &_list {
    display: flex;
    gap: 94px;

    @include mini-desktop {
      gap: 53px;
      justify-content: center;
    }

    @include tablet {
      justify-content: space-between;
    }

    @include mobile {
      gap: 40px 60px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include small-mobile {
      text-align: center;
    }
  }

  &-item {
    &-title {
      margin-bottom: 24px;
      font-weight: 700;
      line-height: 24px;
    }

    @include mobile {
      width: 143px;
    }
  }

  &_sublist {
    @include mobile {
      overflow: hidden;
      max-height: 0px;
      text-align: center;
      transition: var(--transition);
    }
  }

  &_subitem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      line-height: 24px;
      color: var(--netural-color-150);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: var(--netural-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &_bottom {
    @include flex-all-between;
    gap: 20px 40px;
    flex-wrap: wrap;
    border-top: 1px solid var(--netural-color-70);
    padding-top: 40px;

    @include tablet {
      justify-content: center;
    }

    &-lists {
      @include flex-align-center;
      gap: 72px;

      @include tablet {
        gap: 42px;
      }

      @include mobile {
        flex-direction: column;
        gap: 20px;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      line-height: 20px;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-list {
      display: flex;
      gap: 40px;

      @include tablet {
        gap: 20px;
      }

      @include small-mobile {
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &_socials {
    &-list {
      @include flex-align-center;
      gap: 24px;

      @include tablet {
        gap: 18px;
      }
    }

    &-link {
      transition: var(--transition);
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &_copyright {
    font-weight: 500;
    line-height: 20px;
    color: #fff;
  }
}

.accordion_item--opened {
}

// .accordion_list-control {
//   @include flex-all-center;
//   flex-direction: column;
//   gap: 5px;

//   @include mobile {
//     cursor: pointer;
//   }
// }

// .accordion-icon {
//   position: relative;
//   width: 10px;
//   height: 2px;
//   background-color: #fff;
//   transform: translateY(-10px);
// }

// .accordion-icon::after {
//   content: '';
//   position: absolute;
//   width: 10px;
//   height: 2px;
//   background-color: #fff;
//   transform: rotate(90deg);
// }

.accordion_item--opened .accordion-icon {
  overflow: hidden;
}

.accordion {
  &_list {
    &-control {
      @include flex-all-center;

      gap: 5px;

      @include mobile {
        cursor: pointer;
      }
    }
  }

  &-icon {
    @include mobile {
      position: relative;
      width: 10px;
      height: 2px;
      background-color: #fff;
      transform: translateY(-10px);
    }

    &::after {
      @include mobile {
        content: '';
        position: absolute;
        left: 0;
        width: 10px;
        height: 2px;
        background-color: #fff;
        transform: rotate(90deg);
      }
    }
  }
}
