.partners {
  padding: 108px 0;

  @include mobile {
    padding: 76px 0;
  }

  &_container {
    @include flex-all-between;
    gap: 30px;
    max-width: 1110px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &_title {
    font-weight: 500;
    line-height: 32px;
    color: var(--netural-color-150);

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -2px;
      color: var(--netural-color-100);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }
  }

  &_list {
    @include flex-all-center;
    gap: 10px 30px;
    flex-wrap: wrap;

    @include small-tablet {
      gap: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &_item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background-color: #fff;

    @include small-tablet {
      flex-shrink: 0;
    }
  }

  &_slider {
    overflow: hidden;
    width: 100%;
  }

  & img {
    flex-shrink: 0;
  }
}
