<footer class="footer">
  <div class="container">
    <div class="footer_head">
      <div class="footer_head-text">
        <h3 class="footer_title">Think beyond the wave</h3>
        <p class="footer_descr text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else.
          Our highly trained reps are standing by, ready to help
        </p>
      </div>
      <a href="#" class="footer_link button-form">Try for free</a>
    </div>
    <div class="footer_body">
      <div class="footer_body-info">
        <a href="/" class="footer_logo" aria-label="Home page">
          <img
            loading="lazy"
            src="./assets/icons/dark-logo.svg"
            width="140"
            height="42"
            alt="Coca logo"
          />
        </a>
        <p class="footer_body-descr text-p-default">
          We built an elegant solution. Our team created a fully integrated
          sales and marketing solution for SMBs
        </p>
      </div>
      <nav class="footer_nav">
        <ul class="footer_list text-p-default">
          <li class="footer-item text-p-default">
            <h4 class="footer-item-title">Company</h4>
            <ul class="footer_sublist">
              <li class="footer_subitem">
                <a href="/about.html" class="footer_subitem-link">About</a>
              </li>
              <li class="footer_subitem">
                <a href="/pricing.html" class="footer_subitem-link">Pricing</a>
              </li>
              <li class="footer_subitem">
                <a href="/jobs.html" class="footer_subitem-link">Jobs</a>
              </li>
              <li class="footer_subitem">
                <a href="/blog.html" class="footer_subitem-link">Blog</a>
              </li>
            </ul>
          </li>
          <li class="footer-item text-p-default">
            <h4 class="footer-item-title">Product</h4>
            <ul class="footer_sublist">
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Sales Software</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Marketplace</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Terms & Conditions</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Privacy Policy</a>
              </li>
            </ul>
          </li>
          <li class="footer-item text-p-default">
            <h4 class="footer-item-title">Discover</h4>
            <ul class="footer_sublist">
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">CRM Comparision</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Partner Program</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">What is CRM</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Resource</a>
              </li>
            </ul>
          </li>
          <li class="footer-item text-p-default">
            <h4 class="footer-item-title">Help Center</h4>
            <ul class="footer_sublist">
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Community</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Knowledge Base</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Academy</a>
              </li>
              <li class="footer_subitem">
                <a href="#" class="footer_subitem-link">Support</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer_bottom">
      <div class="footer_bottom-lists">
        <ul class="footer_socials-list">
          <li class="footer_socials-item">
            <a href="#" class="footer_socials-link" aria-label="facebook">
              <img
                loading="lazy"
                src="./assets/icons/socials/facebook.svg"
                width="20"
                height="20"
                alt="facebook"
              />
            </a>
          </li>
          <li class="footer_socials-item">
            <a href="#" class="footer_socials-link" aria-label="twitter">
              <img
                loading="lazy"
                src="./assets/icons/socials/twitter.svg"
                width="20"
                height="20"
                alt="twitter"
              />
            </a>
          </li>
          <li class="footer_socials-item">
            <a href="#" class="footer_socials-link" aria-label="instagram">
              <img
                loading="lazy"
                src="./assets/icons/socials/inst.svg"
                width="20"
                height="20"
                alt="instagram"
              />
            </a>
          </li>
          <li class="footer_socials-item">
            <a href="#" class="footer_socials-link" aria-label="in">
              <img
                loading="lazy"
                src="./assets/icons/socials/in.svg"
                width="20"
                height="20"
                alt="in"
              />
            </a>
          </li>
        </ul>
        <ul class="footer_bottom-list text-p-small">
          <li class="footer_bottom-item">
            <a href="#" class="footer_bottom-link">Privacy Policy</a>
          </li>
          <li class="footer_bottom-item">
            <a href="#" class="footer_bottom-link">Terms & Conditions</a>
          </li>
          <li class="footer_bottom-item">
            <a href="#" class="footer_bottom-link">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer_copyright text-p-small">
        © Copyright 2023, All Rights Reserved
      </div>
    </div>
  </div>
</footer>
