<div class="articles">
  <div class="container">
    <div class="articles_head">
      <div class="articles_text">
        <h2 class="articles_text-title heading-h2">Articles</h2>
        <p class="articles_text-descr text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles_btns">
        <button class="articles_btn articles_btn--prev">
          <svg
            width="14.399902"
            height="12.600098"
            viewBox="0 0 14.3999 12.6001"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              id="Icon"
              d="M6.93 12.33C6.58 12.68 6.01 12.68 5.66 12.33L0.26 6.93C-0.09 6.58 -0.09 6.01 0.26 5.66L5.66 0.26C6.01 -0.09 6.58 -0.09 6.93 0.26C7.28 0.61 7.28 1.18 6.93 1.53L3.07 5.4L13.5 5.4C13.99 5.4 14.39 5.8 14.39 6.3C14.39 6.79 13.99 7.2 13.5 7.2L3.07 7.2L6.93 11.06C7.28 11.41 7.28 11.98 6.93 12.33Z"
              fill="#CED1D8"
              fill-opacity="1.000000"
              fill-rule="evenodd"
            />
          </svg>
        </button>
        <button class="articles_btn articles_btn--next">
          <svg
            width="14.399902"
            height="12.600098"
            viewBox="0 0 14.3999 12.6001"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              id="Icon"
              d="M6.93 12.33C6.58 12.68 6.01 12.68 5.66 12.33L0.26 6.93C-0.09 6.58 -0.09 6.01 0.26 5.66L5.66 0.26C6.01 -0.09 6.58 -0.09 6.93 0.26C7.28 0.61 7.28 1.18 6.93 1.53L3.07 5.4L13.5 5.4C13.99 5.4 14.39 5.8 14.39 6.3C14.39 6.79 13.99 7.2 13.5 7.2L3.07 7.2L6.93 11.06C7.28 11.41 7.28 11.98 6.93 12.33Z"
              fill="#CED1D8"
              fill-opacity="1.000000"
              fill-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="articles_slider swiper">
      <ul class="articles_list swiper-wrapper">
        <li class="articles_item swiper-slide">
          <img
            class="articles_item-img"
            loading="lazy"
            src="./assets/images/articles-slide-img1.jpeg"
            width="405"
            height="577"
            alt="Woman and man are working"
          />
          <h3 class="articles_item-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="articles_item-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles_item-btn button-form text-p-default">
            Read More
          </a>
        </li>
        <li class="articles_item swiper-slide">
          <img
            class="articles_item-img"
            loading="lazy"
            src="./assets/images/articles-slide-img2.jpeg"
            width="406"
            height="329"
            alt="Man and woman give hi-five"
          />
          <h3 class="articles_item-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles_item-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a href="#" class="articles_item-btn button-form text-p-default">
            Read More
          </a>
        </li>
        <li class="articles_item swiper-slide">
          <img
            class="articles_item-img"
            loading="lazy"
            src="./assets/images/articles-slide-img3.jpeg"
            width="476"
            height="695"
            alt="Man and woman give hi-five"
          />
          <h3 class="articles_item-title heading-h5">
            Elements that may be missed when designing the UI
          </h3>
          <p class="articles_item-descr text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a href="#" class="articles_item-btn button-form text-p-default">
            Read More
          </a>
        </li>
        <li class="articles_item swiper-slide">
          <img
            class="articles_item-img"
            loading="lazy"
            src="./assets/images/articles-slide-img1.jpeg"
            width="405"
            height="577"
            alt="Woman and man are working"
          />
          <h3 class="articles_item-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h3>
          <p class="articles_item-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles_item-btn button-form text-p-default">
            Read More
          </a>
        </li>
        <li class="articles_item swiper-slide">
          <img
            class="articles_item-img"
            loading="lazy"
            src="./assets/images/articles-slide-img2.jpeg"
            width="406"
            height="329"
            alt="Man and woman give hi-five"
          />
          <h3 class="articles_item-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h3>
          <p class="articles_item-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a href="#" class="articles_item-btn button-form text-p-default">
            Read More
          </a>
        </li>
        <li class="articles_item swiper-slide">
          <img
            class="articles_item-img"
            loading="lazy"
            src="./assets/images/articles-slide-img3.jpeg"
            width="476"
            height="695"
            alt="Man and woman give hi-five"
          />
          <h3 class="articles_item-title heading-h5">
            Elements that may be missed when designing the UI
          </h3>
          <p class="articles_item-descr text-p-medium">
            This is an article that talks about the little elements that are
            often overlooked when designing UI.
          </p>
          <a href="#" class="articles_item-btn button-form text-p-default">
            Read More
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
