<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero_title heading-h1">Activity & Updates</h2>
    <p class="hero_descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <div class="hero_content">
      <ul class="hero_tabs-list">
        <li class="hero_tabs-item">
          <a
            href="#"
            data-target="all"
            class="hero_tabs-link hero_tabs-link--active text-p-default"
          >
            View all
          </a>
        </li>
        <li class="hero_tabs-item">
          <a
            href="#"
            data-target="design"
            class="hero_tabs-link text-p-default"
          >
            Design
          </a>
        </li>
        <li class="hero_tabs-item">
          <a
            href="#"
            data-target="articles"
            class="hero_tabs-link text-p-default"
          >
            Articles
          </a>
        </li>
        <li class="hero_tabs-item">
          <a
            href="#"
            data-target="product"
            class="hero_tabs-link text-p-default"
          >
            Product
          </a>
        </li>
        <li class="hero_tabs-item">
          <a
            href="#"
            data-target="software"
            class="hero_tabs-link text-p-default"
          >
            Software Development
          </a>
        </li>
        <li class="hero_tabs-item">
          <a
            href="#"
            data-target="customer"
            class="hero_tabs-link text-p-default"
          >
            Customer Success
          </a>
        </li>
      </ul>
      <div class="swiper hero_slider">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="customer all"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/activity-hero-img1.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero_article-descr text-p-bigger">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="all design"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/activity-hero-img2.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero_article-descr text-p-bigger">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="articles all"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/contact-getStarted.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero_article-descr text-p-bigger">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="product all"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/features.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero_article-descr text-p-bigger">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="software all"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/about-hero-img1.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Using Grid in website design
            </h3>
            <p class="hero_article-descr text-p-bigger">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="customer all"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/activity-hero-img1.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero_article-descr text-p-bigger">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="customer all"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/activity-hero-img1.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero_article-descr text-p-bigger">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="all design"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/activity-hero-img2.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero_article-descr text-p-bigger">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div
            class="swiper-slide hero_article hero_article--show"
            data-id="all design"
          >
            <img
              loading="lazy"
              class="hero_article-img"
              src="./assets/images/activity-hero-img2.jpeg"
              width="515"
              height="428"
              alt="Woman typing on laptop and writing on a notebook "
            />
            <div class="hero_article-head text-p-small">
              <div class="hero_article-date">
                Published in Insight
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="hero_article-author">by : Albert Sans</address>
            </div>
            <h3 class="hero_article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="hero_article-descr text-p-bigger">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
