<section class="news">
  <div class="container news_container">
    <div class="news_card">
      <img
        class="news_card-img"
        loading="lazy"
        src="./assets/images/news-card-img1.jpeg"
        width="584"
        height="751"
        alt="Worckplace"
      />
      <h3 class="news_card-title heading-h3">
        How we perform long-running tasks using AWS services
      </h3>
      <p class="news_card-descr text-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in
        one. While you are probably familiar with all of these, they are usually
        entirely separate tools.
      </p>
    </div>
    <div class="news_card">
      <img
        class="news_card-img"
        loading="lazy"
        src="./assets/images/news-card-img2.jpeg"
        width="584"
        height="507"
        alt="Office"
      />
      <h3 class="news_card-title news_card-title--decor heading-h3">
        How to ask when doing User Research
      </h3>
      <p class="news_card-descr text-p-medium">
        Bro, the story is that you want to make an application for buying and
        selling goods on the market. During user research, what do you think you
        will ask people?
      </p>
    </div>
    <div class="news_card">
      <img
        class="news_card-img"
        loading="lazy"
        src="./assets/images/news-card-img3.jpeg"
        width="584"
        height="507"
        alt="Man are working in Office"
      />
      <h3 class="news_card-title heading-h3">
        Layout Exploration — Simple exercise but big effect
      </h3>
      <p class="news_card-descr text-p-medium">
        Make alternatives or other options for the design we are making.For
        example, we are creating a website design. Then there is the testimonial
        section.
      </p>
    </div>
    <div class="news_card">
      <img
        class="news_card-img"
        loading="lazy"
        src="./assets/images/news-card-img4.jpeg"
        width="584"
        height="751"
        alt="Discussion"
      />
      <h3 class="news_card-title heading-h3">
        Webflow Break the <br />
        Coding Barrier
      </h3>
      <p class="news_card-descr text-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in
        one. While you are probably familiar with all of these, they are usually
        entirely separate tools.
      </p>
    </div>
  </div>
</section>
