.faq {
  padding: 82px 0 160px;
  text-align: center;

  @include mobile {
    padding: 42px 0 80px;
  }

  &_container {
    max-width: 1114px;
  }

  &_title {
    margin-bottom: 24px;
    font-weight: 600;
    letter-spacing: -2px;
    color: var(--netural-color-100);

    @include mobile {
      margin-bottom: 18px;
    }
  }

  &_descr {
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 32px;
    color: var(--netural-color-150);

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &_accordion {
    border-bottom: 1px solid var(--netural-color-30);
    padding-bottom: 32px;
    text-align: left;

    @include mobile {
      padding-bottom: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 56px;

      @include mobile {
        margin-bottom: 36px;
      }
    }

    &-control {
      @include flex-all-between;
      gap: 15px;
      list-style: none;
      cursor: pointer;

      &::-webkit-details-marker {
        display: none;
      }
    }

    &-title {
      font-weight: 600;
      line-height: 150%;
      color: var(--netural-color-100);
    }

    &-text {
      margin-top: 16px;
      font-weight: 500;
      line-height: 32px;
      color: var(--netural-color-150);

      @include mobile {
        margin-top: 10px;
      }
    }

    &-icon {
      position: relative;
      border-radius: 4px;
      height: 4px;
      min-width: 18px;
      background-color: var(--netural-color-100);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        border-radius: 6px;
        width: 18px;
        height: 3px;
        background-color: var(--netural-color-100);
        transform: rotate(90deg);
      }
    }

    &[open] &-icon {
      overflow: hidden;
    }
  }
}
