<section class="hero">
  <div class="container hero_container">
    <div class="hero_left">
      <h2 class="hero_title">Digitally forward creative</h2>
      <p class="hero_subtitle text-p-subtitle">
        When it comes to interactive <br />
        marketing, we've got you covered. <br />
        Be where the world is going
      </p>
      <form class="hero_form">
        <input
          class="hero_input"
          type="email"
          placeholder="Enter your Email"
          required
        />
        <button class="hero_btn button-form">Try for free</button>
      </form>
    </div>
    <div class="hero_right">
      <div class="hero_sales">
        <h3 class="hero_sales-title">Seles Report</h3>
        <img
          class="hero_sales-img"
          src="./assets/images/incons/sales-report-icon.svg"
          width="366"
          height="260"
          alt="Sales report graphic "
        />
      </div>
      <div class="hero_customer">
        <h3 class="hero_customer-title">Customer Growth</h3>
        <img
          src="./assets/images/incons/Customer-growthsvg.svg"
          width="176"
          height="148"
          alt="Customer Growth graphic"
        />
      </div>
      <table class="hero_stats">
        <thead class="hero_stats-head">
          <tr class="hero_stats-head-row">
            <th class="hero_stats-head-th">Sales</th>
            <th class="hero_stats-head-th">Marketing</th>
          </tr>
        </thead>
        <tbody class="hero_stats-body">
          <tr class="hero_stats-body-row">
            <td class="hero_stats-body-td">$31,092</td>
            <td class="hero_stats-body-td">$29,128</td>
          </tr>
          <tr class="hero_stats-body-row">
            <td class="hero_stats-body-td">
              <img src="../../../assets/images/incons/arrow-up.svg" alt="" />
              <span class="hero_stats-body-num hero_stats-body-num--green">
                4.2%
              </span>
              <span class="hero_stats-body-text">from last year</span>
            </td>
            <td class="hero_stats-body-td">
              <img src="../../../assets/images/incons/arrow-down.svg" alt="" />
              <span class="hero_stats-body-num hero_stats-body-num--red">
                1.2%
              </span>
              <span class="hero_stats-body-text">from last year</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
