<section class="insight">
  <div class="container insight_container">
    <h2 class="insight_title heading-h2">Trending news from Coca</h2>
    <p class="insight_descr text-p-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper insight_slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide insight_article">
          <img
            loading="lazy"
            class="insight_article-img"
            src="../../../assets/images/insight-slide-1.jpeg"
            width="582"
            height="332"
            alt="Woman typing on laptop and writing on a notebook "
          />
          <div class="insight_article-head text-p-small">
            <div class="insight_article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight_article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight_article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight_article">
          <img
            loading="lazy"
            class="insight_article-img"
            src="../../../assets/images/insight-slide-2.jpeg"
            width="582"
            height="332"
            alt="Man typing on"
          />
          <div class="insight_article-head text-p-small">
            <div class="insight_article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight_article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight_article-title heading-h5">
            How to build a Kaylen relationship with a good company ?
          </h3>
        </div>
        <div class="swiper-slide insight_article">
          <img
            loading="lazy"
            class="insight_article-img"
            src="../../../assets/images/insight-slide-1.jpeg"
            width="582"
            height="332"
            alt="Woman typing on laptop and writing on a notebook "
          />
          <div class="insight_article-head text-p-small">
            <div class="insight_article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight_article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight_article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight_article">
          <img
            loading="lazy"
            class="insight_article-img"
            src="../../../assets/images/insight-slide-2.jpeg"
            width="582"
            height="332"
            alt="Man typing on"
          />
          <div class="insight_article-head text-p-small">
            <div class="insight_article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight_article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight_article-title heading-h5">
            How to build a Kaylen relationship with a good company ?
          </h3>
        </div>
      </div>
    </div>
    <div class="swiper-pagination insight_pagination"></div>
    <div class="insight_swiper-btns">
      <div class="insight_swiper-btn-prev button_slider">Prev</div>
      <div class="insight_swiper-btn-next button_slider">Next</div>
    </div>
  </div>
</section>
