<section class="overview">
  <div class="container">
    <h2 class="overview_title heading-h2">
      Coca help our client solve complex customer problems with date that does
      more.
    </h2>
    <p class="overview_descr text-p-medium">
      Our platform offers the modern enterprise full control of how date can be
      access and used with industry leading software solutions for identity,
      activation, and date collaboration
    </p>
    <ul class="overview_list">
      <li class="overview_item">
        <img
          loading="lazy"
          class="overview_item-icon"
          src="./assets/icons/date.svg"
          width="40"
          height="40"
          alt="Calendar icon"
        />
        <h3 class="overview_item-title heading-h5">
          Build your date fundamental
        </h3>
        <p class="overview_item-descr text-p-default">
          Build access to date, develop valuable business insights and drive
          revenue while maintaining full control over access and use of date at
          all times.
        </p>
      </li>
      <li class="overview_item">
        <img
          loading="lazy"
          class="overview_item-icon"
          src="./assets/icons/toDo.svg"
          width="40"
          height="40"
          alt="ToDo"
        />
        <h3 class="overview_item-title heading-h5">Measure more effective</h3>
        <p class="overview_item-descr text-p-default">
          Effectively measure people-based campaigns with the freedom to choose
          from best-of breed partners to optimize and drive media innovation.
        </p>
      </li>
      <li class="overview_item">
        <img
          loading="lazy"
          class="overview_item-icon"
          src="./assets/icons/list.svg"
          width="40"
          height="40"
          alt="list"
        />
        <h3 class="overview_item-title heading-h5">
          Activate your <br />
          date
        </h3>
        <p class="overview_item-descr text-p-default">
          Accurately address your specific audiences at scale across any
          channel, platform, publisher or network and safely translate date
          between identity space to improve results.
        </p>
      </li>
      <li class="overview_item">
        <img
          loading="lazy"
          class="overview_item-icon"
          src="./assets/icons/shield.svg"
          width="40"
          height="40"
          alt="Shield"
        />
        <h3 class="overview_item-title heading-h5">
          Strengthen consumer privacy
        </h3>
        <p class="overview_item-descr text-p-default">
          Protect your customer date with leading privacy-preserving
          technologies and advanced techniques to minimize date movement while
          still enabling insight generation.
        </p>
      </li>
    </ul>
  </div>
</section>
