<section class="strength">
  <div class="container strength_container">
    <ul class="strength_list">
      <li class="strength_item">
        <p class="strength_item-text text-p-default">
          <span class="strength_item-num">17k</span>
          happy customers on worldwide
        </p>
      </li>
      <li class="strength_item">
        <p class="strength_item-text text-p-default">
          <span class="strength_item-num">15+</span>
          Hours of work experience
        </p>
      </li>
      <li class="strength_item">
        <p class="strength_item-text text-p-default">
          <span class="strength_item-num">50+</span>
          Creativity & passionate members
        </p>
      </li>
      <li class="strength_item">
        <p class="strength_item-text text-p-default">
          <span class="strength_item-num">100+</span>
          Integrations lorem ipsum integrations
        </p>
      </li>
    </ul>
    <img
      loading="lazy"
      class="strength_img"
      width="1200"
      height="536"
      src="../../../assets/images/strength.jpeg"
      alt="Group of people"
    />
    <div class="strength_info">
      <h2 class="strength_title heading-h2">
        Lift your business to new heights with our digit al marketing services
      </h2>
      <p class="strength_descr text-p-medium">
        To build software that gives customer facing teams in small and
        medium-sized businesses the ability to create rewarding and long-lasting
        relationships with customers
      </p>
    </div>
  </div>
</section>
