<section class="testimonials">
  <div class="container">
    <div class="testimonials_head">
      <h2 class="testimonials_title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials_descr">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>
    <div class="testimonials_slider-wrapper">
      <div class="swiper testimonials_slider">
        <div class="swiper-wrapper testimonials_comments">
          <div class="swiper-slide testimonials_comment">
            <div class="testimonials_rating">
              <img
                loading="lazy"
                src="../../../assets/icons/ratingsvg.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials_rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials_comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials_comment-author">
              <img
                loading="lazy"
                class="testimonials_comment-author-avatar"
                src="../../../assets/icons/comment-author.svg"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials_comment-author-info">
                <p class="testimonials_comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials_comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials_comment">
            <div class="testimonials_rating">
              <img
                loading="lazy"
                src="../../../assets/icons/ratingsvg.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials_rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials_comment-text heading-h3">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum,
              suscipit.
            </p>
            <address class="testimonials_comment-author">
              <img
                loading="lazy"
                class="testimonials_comment-author-avatar"
                src="../../../assets/icons/comment-author.svg"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials_comment-author-info">
                <p class="testimonials_comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials_comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials_comment">
            <div class="testimonials_rating">
              <img
                loading="lazy"
                src="../../../assets/icons/ratingsvg.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials_rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials_comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials_comment-author">
              <img
                loading="lazy"
                class="testimonials_comment-author-avatar"
                src="../../../assets/icons/comment-author.svg"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials_comment-author-info">
                <p class="testimonials_comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials_comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials_comment">
            <div class="testimonials_rating">
              <img
                loading="lazy"
                src="../../../assets/icons/ratingsvg.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials_rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials_comment-text heading-h3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
              natus dicta assumenda nesciunt harum tempora! Esse vero porro odit
              et incidunt ut, vel inventore nostrum architecto quae molestias?
              Ipsam, necessitatibus.
            </p>
            <address class="testimonials_comment-author">
              <img
                loading="lazy"
                class="testimonials_comment-author-avatar"
                src="../../../assets/icons/comment-author.svg"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials_comment-author-info">
                <p class="testimonials_comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials_comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials_btns">
        <button class="testimonials_btn testimonials_btn--prev">
          <svg
            width="14.399902"
            height="12.600098"
            viewBox="0 0 14.3999 12.6001"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              id="Icon"
              d="M6.93 12.33C6.58 12.68 6.01 12.68 5.66 12.33L0.26 6.93C-0.09 6.58 -0.09 6.01 0.26 5.66L5.66 0.26C6.01 -0.09 6.58 -0.09 6.93 0.26C7.28 0.61 7.28 1.18 6.93 1.53L3.07 5.4L13.5 5.4C13.99 5.4 14.39 5.8 14.39 6.3C14.39 6.79 13.99 7.2 13.5 7.2L3.07 7.2L6.93 11.06C7.28 11.41 7.28 11.98 6.93 12.33Z"
              fill="#CED1D8"
              fill-opacity="1.000000"
              fill-rule="evenodd"
            />
          </svg>
        </button>
        <button class="testimonials_btn testimonials_btn--next">
          <svg
            width="14.399902"
            height="12.600098"
            viewBox="0 0 14.3999 12.6001"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              id="Icon"
              d="M6.93 12.33C6.58 12.68 6.01 12.68 5.66 12.33L0.26 6.93C-0.09 6.58 -0.09 6.01 0.26 5.66L5.66 0.26C6.01 -0.09 6.58 -0.09 6.93 0.26C7.28 0.61 7.28 1.18 6.93 1.53L3.07 5.4L13.5 5.4C13.99 5.4 14.39 5.8 14.39 6.3C14.39 6.79 13.99 7.2 13.5 7.2L3.07 7.2L6.93 11.06C7.28 11.41 7.28 11.98 6.93 12.33Z"
              fill="#CED1D8"
              fill-opacity="1.000000"
              fill-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
